* {
  padding: 0;
  margin: 0;
}
body {
  width: 98%;
  height: 98vh;
  padding: 0 1%;

  background-color: lightsteelblue;
  background-image: url("cloudy_green.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h3 {
  text-align: center;
  font-size: 20px;
}
.top_container {
  width: 50%;
  position: relative;
  padding: 0 25%;
}

#title {
  text-align: center;
  padding: 5%;
  padding-top: 5%;
  font-size: 350%;
  z-index: 2;
}

#prompt {
  display: block;
  text-align: left;
  font-size: 200%;
  position: relative;
  overflow-wrap: normal;
  z-index: 2;
}

.selection_container1 {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0;
}

.choice {
  width: 250px;
  height: 250px;
  padding-left: 2.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.choice > img {
  width: 90%;
  height: auto;
}

.choice:hover {
  width: 275px;
  height: 275px;

  padding-left: 2.5%;
  font-size: 125%;
}

p {
  text-align: center;
  font-weight: bold;
}

#submit {
  width: 300px;
  height: 300px;
}
#sword-btn {
  background-image: url(sword.png);
}

#shield-btn {
  background-image: url(shield.png);
}

#staff-btn {
  background-image: url(staff.png);
}

#bow-btn {
  background-image: url(bow.png);
}

#game-btn {
  background-image: url(Luffy_jg.png);
}

#travel-btn {
  background-image: url(Luffy_jg.png);
}

#social-btn {
  background-image: url(Luffy_jg.png);
}

#growth-btn {
  background-image: url(Luffy_jg.png);
}

#competitive-btn {
  background-image: url(darius.png);
}

#winner-btn {
  background-image: url(darius.png);
}

#nonchalant-btn {
  background-image: url(darius.png);
}

#vibes-btn {
  background-image: url(darius.png);
}

#isekai-btn {
  background-image: url(Luffy_jg.png);
}

#mecha-btn {
  background-image: url(Luffy_jg.png);
}

#slice-btn {
  background-image: url(Luffy_jg.png);
}

#horror-btn {
  background-image: url(Luffy_jg.png);
}

.rec_container {
  width: 100vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5% 0;
}

#top-rec,
#bot-rec {
  width: 40vw;
  height: 40vh;
  background-color: beige;
  padding: 20px;
  background-color: beige;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.selection_info{
}