* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100vh;
  background-color: #DDD0C8;
  
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 90vh;

}
#project1 {
  align-items: center;
  justify-content: center;  left: 40%;
  margin-left: 60%;
  border-radius: 10%;

  
}

.open-book {
  align-items: center;
  justify-content: center;
  padding: 1%;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 36vw;
  height: 80vh;
  background-color: #178582;
  transform-origin: left center;
  transition: transform 1.2s ease-in-out;
  cursor: pointer; /* Add cursor style to indicate clickability */
  z-index: 4;
  border-left: 15px dotted  #DDD0C8;
  text-align: center;
  font-size: 200%;
  border-radius: 3%;

}


#book-title{

  color:#6ACFC7;
  width: 50%;
  height: 50%;
  background-color: #DDD0C8;
  border: 10px double #175185;
  border-radius: 15%;
  color: white;
  text-shadow: 2px 2px 5px #175185;
margin-left: 25%;
margin-top: 30%;

}
.title-text{

  font-size: 150%;

}
div>
.open-book.opened {
  transform: perspective(1000px) rotateY(-180deg);
}

.open-book2 {
  padding: 1%;

  position: absolute;
  top: 10%;
  left: 50%;
  width: 37vw;
  height: 80vh;
  background-color: #175185;
  transform-origin: left center;
  transition: transform 1.2s ease-in-out;
  cursor: pointer; /* Add cursor style to indicate clickability */
  z-index: 3;
  color: white;
  text-align: center;
  border-left: 15px dotted aquamarine;
  border-radius: 3%;
  


}

.open-book2.opened {
  transform: perspective(1000px) rotateY(-180deg);
}



.open-book3 {
  padding: 1%;
  position: absolute;
  top: 10%;
  left: 50%;
  width: 38vw;
  height: 80vh;
  background-color: #178582;
  transform-origin: left center;
  transition: transform 1.2s ease-in-out;
  cursor: pointer; /* Add cursor style to indicate clickability */
  border-left: 5px solid black;
  z-index: 2;
  border-left: 15px dotted aquamarine;
  text-align: center;
  border-radius: 3%;


}

.open-book3.opened {
  transform: perspective(1000px) rotateY(-180deg);
}

.open-book4 {
  padding: 1%;

  position: absolute;
  top: 10%;
  left: 50%;
  width: 39vw;
  height: 80vh;
  background-color: #175185;
  transform-origin: left center;
  transition: transform 1.2s ease-in-out;
  cursor: pointer; /* Add cursor style to indicate clickability */
  z-index: 1;
  color: white;
  text-align: center;
  border-left: 15px dotted aquamarine;
  border-radius: 3%;



}

.open-book4.opened {
  transform: perspective(1000px) rotateY(-180deg);
}

#project-container{
  width: 60%;
  height:40vh;
    background-color: white;
  margin-left: 20%;
  margin-top: 3%;
  max-height:max-content;
}
p{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding:0  10%;
  font-size: 16px;
  font-weight: bold;
}

.thumbnail-img{
width: 200px;
height: 200px;

}